body{
	font-family: 'Nunito Sans', sans-serif;
	background-color: #adc9f4;
}

#title {
	margin-left:90px;
	margin-top: 40px;
	margin-bottom: 20px;
}

#canvas {
	background-color: #adc9f4;
}

#tools {
	width: 300px;
  	padding: 10px 10px 40px 10px;
}

#about {
  	width: 500px;
 	margin-left:90px;

}
/*
.ui-slider .ui-slider-handle{	
    width:2em;
    left:-.6em;
    text-decoration:none;
    text-align:center;
}*/

.sliderbox {
	width: 250px;
	margin-bottom: 10px;
}

#simContainer {
	margin-top: 40px;
	border-style: solid;
  	border-width: 2px;
  	padding: 20px;
  	margin-left: 90px;
  	width: 800px;	
}
